[2021-06-02 13:37] itdove opened #7 "Add long description for commands"
Commands should have long description

[2021-06-02 13:39] itdove opened #8 "Add a watch to monitor the status of the init command"
Provide the capability to watch the status and  wait the init command to be fully deployed and operational

[2021-06-02 13:40] itdove opened #9 "Add a watch to monitor the deployment of the join on the spoke cluster"
Add the capability to watch the status and wait the completion of the spoke cluster agent installation.

[2021-06-04 14:18] itdove opened #12 "clusteradm join: no matches for kind "Klusterlet" in version "operator.open-cluster-management.io/v1""
Action:
[code]
Got:
[code]
Expect:
[code]

When the system is slow, the Klusterlet CRD is not yet ready to use and so the create of the klusterlet CR fails.

Workaround:
Run again the command `clusteradm join`

[2021-06-11 11:25] itdove opened #16 "bootstrap token is not supported on all *KS"
The boostrap token which is generated while initializing the hub is not supported by every *KS and thus the spoke fails to join.

In such case a service-account must be created and the sa token use as bootstrap token.

[2021-06-16 00:54] #16 closed

[2021-06-17 09:23] itdove opened #21 "Avoid to init twice the same hub"

[2021-06-17 09:24] itdove opened #22 "Create a new cmd to find the token"

[2021-06-17 09:25] itdove opened #23 "Create cmd to revoke the bootstrap token"

[2021-06-18 14:35] itdove opened #25 "Add a wait with timeout on the `clusteradm accept`"
This should wait (with timeout) that each CSRs and Managedcluster from the list of provided clusters are present before approving/updating them.

[2021-06-23 12:26] #25 closed

[2021-06-23 12:27] #21 closed

[2021-06-23 12:28] #12 closed

[2021-06-24 11:43] itdove opened #29 "Wrong description for delete token"
https://github.com/open-cluster-management-io/clusteradm/blob/1156193cadd4d30924ac70ac6bb37ebfc8049c26/pkg/cmd/delete/token/cmd.go#L25 should be "delete the bootstrap token"

[2021-06-25 01:34] dongwangdw opened #31 "what is this token?"
What is the token in the doc?

    clusteradm join --hub-token <token> --hub-apiserver <api server url> --cluster-name <cluster name>

Sorry, I did not have the context here. Please explain it. Thanks.

[2021-06-25 01:47] dongwangdw commented on #31
close this issue.

The cmd requires the clusters are clean.
I tried it with some components installed.  That's the reason I have some errors.

[2021-06-25 01:47] #31 closed

[2021-06-25 08:02] #29 closed

[2021-06-29 12:16] #23 closed

[2021-06-30 05:56] dongwangdw opened #36 "Log will be helpful to contributors."
I found that there is not any log for this project.
I think this is not really friendly to contributors. When error happens, I really have no idea what was going on.

Even the backtrace will be helpful. But. I only got one line error. That make little scense.

[2021-06-30 12:21] itdove commented on #36
I understand, I will check that, the log could be in a default file which can be changed by using a parameter. it will not be in the stdout by default as we don't want to mix the log and the cmd output.

[2021-06-30 12:22] itdove opened #37 "While rendering a yaml I want to inject my own functions"

[2021-06-30 12:23] #37 closed

[2021-06-30 12:26] itdove opened #38 "Enable external cluster config to support oidc"

[2021-06-30 12:27] #38 closed

[2021-07-01 01:20] dongwangdw commented on #36
@itdove
I asked this because I had two case yesterday.
When clusteradm did not support oidc, I ran the initial comment agaisg IKS, only one line error throwed out. It took me a while to understand it.

And when I run join command from ocp 4.6.19, it just failed with one line "configmap configmap-ca-crt" not found. And no more. It would be better we can have more info especially for debugging.

I a

[2021-07-01 02:44] itdove commented on #36
I agree the error is not always clear but all error are bubble up and finally prompted to the output. Do you have an example where it wasn't the case?

[2021-07-01 14:40] mikeshng opened #41 "Provide more up to date content in CLI output"
Currently, the entire standard output of the cli command is fixed.

@mdelder suggested that we can enhance that by adding some dynamic content that we can fetch in real time. For example, retrieve more up to date "what's next" information from https://open-cluster-management.io and display it to the user. That way whenever the website is updated, the cli return output is also updated automatically

[2021-07-01 21:04] itdove commented on #41
Do you plan to add that on the help of the CLI or have a command `whatsnext` ?

[2021-07-02 01:26] dongwangdw commented on #36
For these two cases, only one line error was prompted without any more info.

[2021-07-02 01:38] dongwangdw commented on #41
I suddenly have an idea,

Maybe one more option will be fine. Just like " --next "

[2021-07-02 02:46] itdove commented on #36
@dongwangdw If you install the latest by doing https://github.com/open-cluster-management-io/clusteradm/blob/main/README.md#from-source you will be able to use `-v <level>` level being a number to have all logs on the output.
If you want to have them on a separate file you do either:
[code]
or
[code]

I wil add later for logs in the clusteradm itself.

[2021-07-02 06:33] dongwangdw commented on #36
Looks like the `v` denotes the log level. It would be better explan some useful level.
I will close this.
Thanks @itdove

[2021-07-02 06:33] #36 closed

[2021-07-02 10:06] itdove commented on #36
I will add this kind of information in the contribute.md https://github.com/kubernetes/community/blob/master/contributors/devel/sig-instrumentation/logging.md

[2021-07-12 14:40] mikeshng opened #45 "Add subcommand to enable application management addon"
There should be a subcommand that enables addon. For example,

[code]

which will perform the deployment step of:
- the application subscription operator https://github.com/open-cluster-management-io/multicloud-operators-subscription#operator-deployment to the hub and
- the application subscription addon deployment for the given cluster(s) https://github.com/open-cluster-management-io/multicloud-o

[2021-07-14 20:25] sahare opened #47 "Race condition where applying the CR happens before the CRD is successfully deployed"
Getting error when trying to deploy a cluster manager on kind cluster using clusteradm built from the source by following
https://github.com/open-cluster-management-io/clusteradm/blob/main/README.md#from-source

Error:
clusteradm init
E0714 16:01:52.864939  33569 memcache.go:196] couldn't get resource list for operator.open-cluster-management.io/v1: the server could not find the requested resource

[2021-07-14 20:25] sahare commented on #47
FYI @mikeshng

[2021-07-21 15:58] mikeshng commented on #45
This feature has been merged in the PR https://github.com/open-cluster-management-io/clusteradm/pull/46

[2021-07-21 15:58] #45 closed

[2021-08-09 06:55] xunpan opened #49 "cluseradm unjoin"
After a cluster is joined as a managed cluster, it needs an operation to unjoin the managed cluster.
`clusteradm unjoin`

[2021-08-09 06:56] xunpan opened #50 "clusteradm reset"
After initialize an open cluster management control plane, there is no command line to reset the whole initialization.
  `clusteradm reset`

[2021-08-10 02:43] ckkkcsg opened #51 "csr的名称中含有随机字符串"
我的控制集群名称是cluster133，托管集群名称是cluster135，但是接收到的csr的名称确实cluster135-mt49j，有随机数，这个是什么原因导致的呀？怎么排查这个问题呢？

[2021-08-10 02:45] #51 closed

[2021-08-10 03:28] luckyfengyong opened #52 "clusteradm support "--image-repository string""
When executing clusteradm in an env which cannot access `quay.io/open-cluster-management/registration-operator:latest`, it failed with following error message:

[code]

Just like `kubeadm`,  it is better for clusteradm to support option of `--image-repository string` to specify image repo of control plane.

[2021-08-10 05:51] ckkkcsg opened #53 "couldn't get resource list for admission.work."
E0809 13:49:31.249926  419192 memcache.go:196] couldn't get resource list for admission.cluster.open-cluster-management.io/v1: the server is currently unable to handle the request
E0809 13:49:31.250173  419192 memcache.go:196] couldn't get resource list for admission.work.open-cluster-management.io/v1: the server is currently unable to handle the request
E0809 13:49:31.252108  419192 memcache.go:1

[2021-08-12 06:38] xuezhaojun opened #54 "Error when join a managedCluster"
I'm using the clusteradm v0.1.0-alpha.5v.1

After run `clusteradm join ...` command, I got this error message:

[code]

[2021-08-13 06:51] xauthulei opened #55 "Output messages are not right when clusteradm accept a cluster list"
I am try to use the following cmd  `clusteradm accept --clusters <cluster1>, <cluster2>,....` to accept the single cluster to my `hub`:
e.g:
[code]
Also:
[code]

It should be :

[code]
Please correct me if I am wrong, Thanks

[2021-08-13 08:55] xauthulei commented on #55
Sorry, my bad behavior here: the `extra space` between the cluster names `llhu-1`and`llhu-2`
[code]

[2021-08-13 08:55] #55 closed

[2021-08-17 07:13] levinwang88 opened #56 "Error from appove managed cluster to hub cluster"
# clusteradm accept --clusters c2
CSR c2-mq8rj already approved
Error: no CSR to approve for cluster c2

workaround:
I reinstalled the Hub Cluster and it is working fine.
# clusteradm accept --clusters c2
CSR c3-sgxp4 approved
set hubAcceptsClient to true for managed cluster c2

[2021-08-18 00:05] itdove commented on #56
@levinwang88 Are you sure you waited enough before running the "accept"
You can also add the option `--wait 60" to wait the CSR.

[2021-08-18 00:07] itdove opened #57 "When calling AddDeployment, the scheme is not set."
The line at https://github.com/open-cluster-management-io/clusteradm/blob/main/pkg/helpers/apply/apply.go#L48
must be moved to https://github.com/open-cluster-management-io/clusteradm/blob/main/pkg/helpers/apply/apply.go#L71

[2021-08-18 01:51] dongwangdw commented on #56
@levinwang88
Could you please provide more info about your env ?

Error: no CSR to approve for cluster c2

For your provided info, if the CSR has been already approved, it will not be approved again.

[2021-08-18 02:22] dongwangdw commented on #49
I think this sub command make sense.
When a managed cluster want to be detached from hub, some resource should be cleaned manually.
And especially, this cluster may be joined again, the clean env(this managed cluster and hub) will be necessary.

@itdove what do you think?

[2021-08-18 02:24] dongwangdw commented on #54
@xuezhaojun
I tried with kind 0.11.0 with 1.21.1 kube version and it worked well.

You may need to provider more context about your issue.

[2021-08-18 02:40] dongwangdw commented on #53
@ckkkcsg
Please show more info, like your env, your steps to reproduce this issue.

[2021-08-18 07:40] itdove commented on #49
@dongwangdw @xunpan yes it was foreseen implement one.

[2021-08-18 09:34] levinwang88 commented on #56
I first deleted the previously joined cluster and then rejoined the cluster. This problem occurred.

1. I use the command "clusteradm join --hub-token <token_data> --hub-apiserver https://126.0.0.1:39242 --cluster-name <managed_cluster_name>" to I use the command to rejoin the cluster, and the csr pending state will also appear on the hub.
2. This problem will occur when I go to the approve cluste

[2021-08-18 09:47] levinwang88 opened #59 "Registration agent stopped updating its lease."
The AVAILABLE status started after joining the cluster to the hub is **True**, the following information:
[](NAME       HUB ACCEPTED   MANAGED CLUSTER URLS         JOINED   AVAILABLE   AGE
cluster1       true           https://ip:6443                                         True         True        32s)

[2021-08-18 12:54] xuezhaojun commented on #54
It's weird that this issue doesn't appear every time. I realize my poor network environment could have an effect on this.

At the time when the command "clusteradm join ..." was running, most pods are still in ContainerCreating phase because images are not pulled yet.

After I changed to a good network environment, I found everything is going fine.

I  will close this issue, thanks for your time!

[2021-08-18 12:55] #54 closed

[2021-08-25 08:57] kim-fitness opened #62 "Duplicated pod 'cluster-manager-placement-controller' after manually create a placement CRD and then called 'clusteradm init'"
Manually deploy placement by following steps
1. cd placement
2. make images
3. make deploy-hub
Then, init the hub cluster by command `clusteradm init`
Finally, we got 2 duplicated `cluster-manager-placement-controller` as following
[code]

The expected behavior is,
The `clusteradm init` should at least check the same pod in namespace `open-cluster-management-hub` and `open-cluster-management`, if

[2021-09-01 06:36] xauthulei commented on #49
There are may be two methods to implement this `unjoin` action:

- `unjoin` from the manged cluster (liking current join process):

1. Log on managed cluster, taking `unjoin action` ,to remove [resources](https://github.com/open-cluster-management-io/clusteradm/tree/main/pkg/cmd/join/scenario/join) in the `join stage`. and send a single to hub.
2. Log on hub cluster,`accept` the single, then remov

[2021-09-02 01:32] dongwangdw commented on #49
@xauthulei
From my point, I would prefer to do this from managed cluster, just like the joining process.
So in managed cluster
1. all the resource including the namespaces in managed cluster should be deleted.
2. the managed cluster along with its namespace in hub may be deleted automatically too.
    This items may needs more work here. I thinks this because when cluster joined, the managed clust

[2021-09-07 08:12] kim-fitness commented on #62
User is supposed to use command `clusteradm init`, but not deploy the placement manually. This case should only be in the development scenario. So close ticket as invalid.

[2021-09-07 08:12] #62 closed

[2021-09-13 07:47] kim-fitness commented on #9
I think watch the pod `klusterlet-registration-agent` is in `Running` status is OK to continue to let user to do `accept` from hub cluster.

[code]

[2021-09-26 09:04] xauthulei commented on #59
you may need to check the  `klusterlet` status on managed cluster `cluster1`, Thanks

[2021-10-12 07:38] kim-fitness commented on #9
Hi @itdove,
This feature was implemented from PR #65.

The brief idea is watching the condition of CR klusterlet, and the `clusteradm join` command returns until the condition `Available` is `true` or timeouts in 300 seconds.

[2021-10-12 07:44] kim-fitness opened #68 "Add a --timeout parameter to the join command to let user set the max waiting time on the installation completion of the spoke cluster"
Please consider to add a `--timeout` parameter to the `clusteradm join` command, so that user can set the max waiting time on the installation completion of the spoke cluster.

So far, the `clusteradm join` command waits for at max 300 seconds, which is a hard-coded value.

[2021-10-12 08:17] kim-fitness commented on #9
/assign kim-fitness

[2021-10-19 01:42] xauthulei commented on #49
@dongwangdw , I will, Thanks

[2021-10-19 01:59] #49 closed

[2021-10-19 02:35] xauthulei commented on #68
I think it is hard for the user to set a suitable value. but if the it reach on the max waiting, we will pop warning message. Thanks

[2021-10-25 03:27] qiujian16 opened #71 "clean up the control plane"
We can now use  clusteradm to destroy  a managed cluster. I will be also helpful to cleanup the hub cluster use cluteradm also.

[2021-11-11 02:37] xauthulei commented on #71
@qiujian16 Is seems liking this issue #50 , right ?

Also, when do the user take this `cleanup` action:

1. After the `clusteradm init`
2. After the `clusteradm unjoin <managed cluster>`

Please correct me, Thanks

[2021-11-11 02:53] qiujian16 commented on #71
ah yes, the both are the same. I meant we can clean after clusteradm init

[2021-11-11 05:45] xauthulei commented on #71
@qiujian16 ,OK,  I will add a new option(**clean** or **destroy**) for this cleanup action on the Hub. Please let know which one is suitable to us，Thanks

[2021-11-11 07:59] qiujian16 commented on #71
I think maybe `clean`

[2021-11-17 08:29] wangglbj opened #76 "Should it not use hub apiserver host as the managed cluster?"
I found after using clusteradm join new cluster to hub cluster. it use the hub apiserver host as the managed cluster. and then I checked the clusteradm code,  is the cluster ip the managed cluster external server ip/host, right? if it's right, it need user to specify it, as shown in the following example:

#kubectl get managedcluster
NAME       HUB ACCEPTED   MANAGED CLUSTER URLS         JOINED  

[2021-11-18 13:37] qiujian16 commented on #76
yes, I think it is not correct

/kind bug

[2021-11-19 01:33] xauthulei commented on #71
@qiujian16 , you can close this issue, Thanks

[2021-11-19 02:00] #71 closed

[2021-11-21 15:03] ilan-pinto commented on #68
@kim-fitness do you need this flag for setting longer than 300 sec? have you encountered an issue?

[2021-11-22 08:23] kim-fitness commented on #68
Hi @ilan-pinto ,
So far, I have not encounter installation issue when doing `clusteradm join`, I'm just assuming someone may have a heavy workload cluster and the `clusteradm join` may takes more than 300 seconds to complete.

[2021-11-25 20:33] ilan-pinto commented on #68
i am on it!

[2021-11-25 20:48] mikeshng commented on #68
/assign ilan-pinto

[2021-11-30 09:46] #68 closed

[2021-12-01 09:43] ilan-pinto commented on #52
/assign ilan-pinto

[2021-12-01 14:56] qiujian16 opened #78 "specify install ns when enable an addon on a cluster"
We should be able to specify install namespace of addon agent when enable it on a cluster. By default, it could be open-cluster-management-agent-addon.

[2021-12-03 03:51] kim-fitness opened #79 "Please consider to add progress bar for time consuming command in the clusteradm"
So far, there are several time consuming command in the `clusteradm`,
E.g.
`clusteradm join`

During the command runs, there is no indicator to show the progress, which makes user confused that whether the command is running or it already die.

[2021-12-03 03:52] kim-fitness commented on #79
/label enhancement

[2021-12-03 03:54] kim-fitness commented on #79
This could be an **enhancement**

[2021-12-03 04:01] kim-fitness commented on #9
Please @qiujian16 helps to close this issue as it already be implemented. Thanks.

[2021-12-03 04:05] #9 closed

[2021-12-09 03:54] qiujian16 opened #82 "add placement image in clustermanager and factoring version/tag flag"
based on this comment https://github.com/open-cluster-management-io/clusteradm/pull/80#issuecomment-989485226

The placement image's tag could be different from registration/work. We might need to have a release version map to the tags maintained here.

[2021-12-10 09:56] yue9944882 opened #84 "`clusteradm accept` does't find the pending CSR for the applying cluster"
[code]
the clusteradm tools cannot find the corresponding CSR resource if the bootstrap token is signed manually instead of reusing
 the generated tokens from `clusteradm init` commands.

 in our case the bootstrap token is copied from the `default` namespace instead of `open-cluster-management` which leads to the clusteradm to ignore the pending CSR from the agent that mounts the manual bootstrap

[2021-12-10 09:59] yue9944882 commented on #84
cc @qiujian16

[2021-12-10 10:05] yue9944882 commented on #84
cc @champly

[2021-12-12 14:29] ilan-pinto opened #85 "add image registry rendering scenario to the full functional test"
init and join commands supports --image-repo flag to replace the Quay.io image with a different image registry.

in order to test it properly full functional test should spin up a local image registry and run init and join commands using the --image-repo flag

[2021-12-13 03:09] qiujian16 commented on #84
I think we can add a flag to skip the csr check.

[2021-12-15 07:45] qiujian16 opened #87 "more command to manage addons"
We can to `clusteradm addon enable` today to enable a certain addon. It is valuable to also

1. list all addons on hub
2. list all enabled addon on a managedcluster
3. disable an addon on a cluster

[2021-12-15 07:46] qiujian16 commented on #87
/cc @yue9944882

[2021-12-15 07:50] qiujian16 opened #88 "command to utilize cluster-proxy"
It would be useful if we can use cluster-proxy in clusteradm command
1. I can check the healthiness of a certain managed cluster
2. I can execute a kubectl command against a managedcluster

/kind feature

[2021-12-15 07:50] qiujian16 commented on #88
/assign @yue9944882
/assign @xuezhaojun

[2021-12-16 11:24] yue9944882 commented on #88
@qiujian16 thx, here's a few subcommands around cluster-proxy i can think of:

- `clusteradm proxy status`: listing the current installation status of anp servers/agent. not only the healthiness of the agents/servers will be display, but also the cluster-proxy addon-agent will be reporting the stats to each of cluster namespace by scraping the prometheus metrics.

a sample of agent's metrics will

[2021-12-22 08:31] ycyaoxdu commented on #87
/assign ycyaoxdu

[2022-01-04 06:42] yue9944882 opened #98 "Release plan?"
the latest published version is somewhat a `xxx.alpha.yy` version. any plan to cut a non-alpha release for the command line binary?

@qiujian16

[2022-01-04 08:43] qiujian16 commented on #98
I am fine to cut a non-alpha release in Jan. We did not setup the next release data yet. Maybe we should discuss it on Friday.

[2022-01-06 11:56] wangzd1 opened #106 "clusteradm join error"
I try to use "clusteradm join" command to join a managed cluster into a hub cluster,but got this error
Error: "join/klusterlets.crd.yaml" (string): the server could not find the requested resource

managed cluster info:
kubernetes: v1.14
installed klusterlet

[2022-01-07 01:14] qiujian16 commented on #98
/assign @yue9944882
/assign @qiujian16

[2022-01-08 00:26] xauthulei commented on #106
Could I know what is your `clusteradm` version ?Thanks

[2022-01-08 02:26] wangzd1 commented on #106
clusteradm version:v0.1.0-alpha.7

[2022-01-08 07:22] wangzd1 commented on #106
It is incompatible between 1.14  and 1.16+ in the apiVersion of crd，i will try to downgrade the kluster crd's apiVersion.Thanks

[2022-01-08 07:22] #106 closed

[2022-01-16 14:25] ilan-pinto commented on #82
/assign ilan-pinto

[2022-01-16 14:34] ilan-pinto commented on #82
@qiujian16 we have the following images to render
registration-operator, registration, work

[2022-01-17 01:12] qiujian16 commented on #82
Thanks!
1. yes.
2. I think so.

[2022-01-20 17:46] mikeshng opened #108 "command to create a sample app"
In order to ease the barrier of entry for deploying applications across multicluster using OCM, create a new clusteradm subcommand that generates a sample application that can be deployed into multiple managed clusters. This inspiration comes from the `helm create` command: https://helm.sh/docs/helm/helm_create

I suggest we starts with something easy: `clusteradm create app sample-app`
This will

[2022-01-21 02:23] pdettori opened #109 ""Error: the registration agent is not ready yet, please check it manually" when joining a cluster"
Following the quick start in https://open-cluster-management.io/getting-started/quick-start/ , when I run the `clusteradm join` command, the command stays stuck in "Waiting for the management components to become ready..." and then it times out.

[code]

It looks like it's waiting for all components installed by Klusterlet to be available, however some components are only started after the `cluste

[2022-01-21 22:26] mikeshng commented on #109
Thank you for reporting this. Maybe there is a recent change that broke the behaviour of join command. I will try to reproduce.

[2022-01-21 22:30] mikeshng commented on #109
I just noticed we haven't release a clusteradm version in a while and it might no longer compatible with the latest klusterlet?

@pdettori which version of clusteradm are you using? We are releasing OCM v0.6.0 soon and we will do a first non-alpha release of clusteradm.

[2022-01-22 02:16] pdettori commented on #109
@mikeshng this is the version I am using:
[code]

[2022-01-24 13:33] itdove commented on #108
Hi @mikeshng
Wonder if we should not take a example from https://kubernetes.io/docs/tutorials/ but it is up to you.
I also wonder if the sample-app not be part of the -h , I don't know how much a `app` can be templated but for me a sample should be part of the documentation or located in a repo, with a repo the user could do:
`clusteradm install app <my_app_name> --repo-url <location of the repo>

[2022-01-24 19:02] mikeshng commented on #109
@pdettori can you try the latest release? https://github.com/open-cluster-management-io/clusteradm/releases/tag/v0.1.0
[code]

[2022-01-24 19:16] mikeshng commented on #108
Based on discussion with @itdove

`clusteradm create app --sample` will install the sample app that is a Helm ngix deployment to all managed clusters.
`clusteradm create app --sample --dry-run --output-file /path/to/files` will generate the yamls.

in the future, not to be contained in this issue, other full blown param options that are not sample related.
`clusteradm create app --repo-type <type

[2022-01-25 03:02] pdettori commented on #109
Hi @mikeshng thank you for your prompt response. I am using kind v0.11.1. The new release of clusteradm fixed the issue for me, so I think we can close this issue.

[2022-01-29 05:44] yue9944882 commented on #98
/close

as the release is cut

[2022-01-29 05:44] #98 closed

[2022-02-02 14:59] Dave-Dush opened #120 "No CSR to approve for managed cluster."
Hi,

While I am able to run join command from managed cluster, I get an error when I run `clusteradm accept --clusters cluster1 --context kind-hub `.

The error is **no CSR to approve for cluster cluster1**

However, upon checking `kubectl get managedcluster --context kind-hub` I can see the cluster as accepted but the **availability** tag is _unknown_ and **joined** tag's value is _blank_.

[2022-02-02 15:09] mikeshng commented on #120
Hi, which version of clusteradm and `KinD` you are using?

You might have to use the `--force-internal-endpoint-lookup` with the `join` command.

See https://github.com/open-cluster-management-io/clusteradm/issues/109#issuecomment-1020439470 for more details.

[2022-02-02 15:45] Dave-Dush commented on #120
I upgraded the kind version to v0.11.1 and now the cluster is joining as normal.

Thanks @mikeshng for helping.

[2022-02-02 15:45] #120 closed

[2022-02-08 07:58] qiujian16 commented on #109
/close

[2022-02-08 07:58] #109 closed

[2022-02-08 08:02] qiujian16 opened #121 "Use clusteradm to upgrade ocm"
after we finish this https://github.com/open-cluster-management-io/clusteradm/issues/82, we should also has a command to upgrade cluster manager and klusterlet to a higher version.

/kind feature

[2022-02-09 15:06] prometherion opened #122 "Unexported struct functions for Option struct"
I'm eager for using the `clusteradm` repository as a package for my automation tools and noticed that the [Option](https://github.com/open-cluster-management-io/clusteradm/blob/ba85108480ae137716a4358aa7e9e4f23fda0271/pkg/cmd/accept/options.go#L9-L18) struct has several functions not exported, making it impossible to use outside of its package.

Would be great to understand what's the reason for c

[2022-02-14 08:08] qiujian16 commented on #122
Hi I do not think there is a strong reason to make it private. Any PR is welcomed! :)

[2022-02-14 08:09] qiujian16 commented on #87
I think this are almost done. Thanks @ycyaoxdu !

/close

[2022-02-14 08:09] #87 closed

[2022-02-14 08:10] qiujian16 commented on #78
fixed. Thanks @xauthulei

/close

[2022-02-14 08:10] #78 closed

[2022-02-16 13:14] ilan-pinto commented on #121
/assign

[2022-02-17 09:46] ycyaoxdu opened #130 "Command unjoin takes too long to execute"
When I'm trying to unjoin a managedcluster which just accepted by hub, it takes too long......
here is the output:
[code]
another try:
[code]
The program blocking at ["Wait to deleted resource klusterlet."](https://github.com/open-cluster-management-io/clusteradm/blob/main/pkg/cmd/unjoin/exec.go#L108)  for more than 30 min. And cluster1 is just accepted by hub with nothing else applied on it.

[2022-02-17 10:11] ycyaoxdu opened #132 "Command clean failed"
This issue is similiar to #130 .

When i'm trying to run `clusteradm clean` on a just-initialized hub, the clean wen wrong.
output:
[code]
At first call, seems that applied resources not be deleted completely, so an error occured [WaitResourceToBeDelete](https://github.com/open-cluster-management-io/clusteradm/blob/main/pkg/cmd/clean/exec.go#L80)
 [Wait to delete cluster manager resource: cluster-

[2022-02-17 10:14] ycyaoxdu commented on #130
/assign ycyaoxdu

[2022-02-21 06:43] yue9944882 opened #133 "[Umbrella Issue] CLI usability improvements"
- __Comprehensive `clusteradm get ..` command__:
  - [x] get clusters:
    - https://github.com/open-cluster-management-io/clusteradm/pull/124
  - [x] get addons:
    - https://github.com/open-cluster-management-io/clusteradm/pull/103
    - https://github.com/open-cluster-management-io/clusteradm/pull/129
  - [x] get works:
    - https://github.com/open-cluster-management-io/clusteradm/pull/131

[2022-02-21 07:25] qiujian16 commented on #133
maybe also add create/delete work command?

[2022-02-24 05:44] xauthulei commented on #132
@ycyaoxdu ， Could I know how to reproduce the error, Thanks

[2022-02-24 06:07] ycyaoxdu commented on #132
@xauthulei The following content shows all i did：
[code]

[code]

[code]

[2022-02-24 06:19] ycyaoxdu commented on #130
[Here](https://github.com/open-cluster-management-io/clusteradm/blob/main/pkg/cmd/unjoin/exec.go#L82) we just log and not stop the program, i think this is a bug, if it ran out all [steps](https://github.com/kubernetes/client-go/blob/master/util/retry/util.go#L39), the program will just continue executing, pretending everything is going well.  Leading to [a very misleading output](https://github.c

[2022-02-24 12:26] xauthulei commented on #132
Following our my local test based on above changes:
[code]

[2022-02-25 01:12] ycyaoxdu commented on #132
@xauthulei this issue is fixed! thanks a lot!

[2022-02-25 01:12] #132 closed

[2022-02-25 01:13] xauthulei commented on #132
Thanks @ycyaoxdu

[2022-02-25 06:34] ycyaoxdu commented on #130
By following this PR #136  and above comment, I modified `clusteradm unjoin` command and then retested it.

Found that `klusterlet` can not be [deleted](https://github.com/open-cluster-management-io/clusteradm/blob/main/pkg/cmd/unjoin/exec.go#L72) in time, even the program waited for a long time. Then the program exits by fatal with error message `klusterlet is still exist`.

the following content

[2022-02-25 06:45] ycyaoxdu commented on #130
According to @xauthulei  's suggestion, i have tried to delete `klusterlet` using:
[code]
then it just blocking......

After about 30 min, i stoped it and get the resource again:
[code]

Klusterlet still exists.

Wondering why it can not be deleted?

[2022-02-25 09:30] xauthulei commented on #130
Yea, in the normal cases, the resource will be deleted in two mins, However, if there are some exceptions, it will need wait for more time. here I try to reset the `Duration` to `Second` instead `Minute` of https://github.com/open-cluster-management-io/clusteradm/blob/8814f752706c97715d1ab9f85880261e317b994e/pkg/cmd/unjoin/exec.go#L78

Same time, the resources can't be deleted (its status is still

[2022-03-03 01:54] xauthulei commented on #76
@wangglbj , This bug have been fixed in since `clusteradm` v1.0 https://github.com/open-cluster-management-io/clusteradm/blob/630dd18c4684932caac453a418e9ff70631707b7/pkg/cmd/join/scenario/join/klusterlets.cr.yaml#L12-L14

In the latest version it is OK. e.g.(my cluster `llhu-1`):
[code]
You can close this issue, Thanks

[2022-03-03 02:13] xauthulei commented on #8
@itdove , Currently, we have added the `--wait` , it sees could meet this request, right:

Internal outputs:
[code]
Finally outputs:
[code]

Or, are there other requirements ? Thanks

[2022-03-03 02:18] xauthulei commented on #50
@xunpan ,  Currently, we have enable the `clusteradm clean` for this purpose:

Some snapshots:
[code]
If we could close this issue, Thanks

[2022-03-03 02:25] xauthulei commented on #79
@kim-fitness , Currently, there is a `--wait` option,  it could display our internal process. Is that could meet your request, Thanks :
[code]

[2022-03-03 03:02] qiujian16 commented on #8
I need to check the code. I am not sure the --wait also check the status of cluster manager today.

[2022-03-03 03:06] #76 closed

[2022-03-04 02:13] xunpan commented on #50
thank you!

[2022-03-04 02:13] #50 closed

[2022-03-07 11:54] ilan-pinto commented on #121
@qiujian16 how do we define to which upgrade cluster manager and klusterlet?
if not specified should we upgrade directly to the latest?

[2022-03-08 01:37] qiujian16 commented on #121
I think we could have something like `clusteradm upgrade klusterlet --version-bundle latest` and `clusteradm upgrade cluster-manager --version-bundle v0.7.0`. And print error if the version-bundle is not specified.

[2022-03-08 06:45] ilan-pinto commented on #121
which services/pods need to be updated for each component
klusterlet, cluster-manager

On Tue, Mar 8, 2022 at 3:38 AM Jian Qiu ***@***.***> wrote:

--

Ilan Pinto

Manager, Ecosystem Application Engineering

Red Hat <https://www.redhat.com/>
<https://www.redhat.com/>

[2022-03-08 06:49] qiujian16 commented on #121
the image of klusterlet, cluster-manager, and the imagePullSpec in klusterlet, cluster-manager API

[2022-03-08 15:35] TomerFi opened #145 "Pin multicloud-operators-subscription version to latest release"
Hello

Currently, the _latest_ tag of the _multicloud-operators-subscription_ image fails,
https://github.com/open-cluster-management-io/multicloud-operators-subscription/issues/106.

_clusteradm_ uses the _latest_ tag to create the _application manager_ addon,
so this effectively broke _clusteradm_ as well.

Pinning the version to the latest release [v0.6.0](https://github.com/open-cluster-manage

[2022-03-08 16:27] mikeshng commented on #145
/assign mikeshng

[2022-03-09 09:21] kim-fitness commented on #79
If the `--wait` is a global parameter, then I think it fulfilled the requirement.

[2022-03-14 09:51] qiujian16 commented on #84
/good first issue

[2022-03-14 09:54] qiujian16 commented on #84
/good-first-issue

[2022-03-14 10:02] ilan-pinto commented on #7
/good-first-issue

[2022-03-15 05:30] ycyaoxdu commented on #133
now we use command `clusteradm clusterset set` to move one cluster from clusterset1 to  clusterset2 #153

[2022-03-15 13:28] mgold1234 commented on #7
/assign mgold1234

[2022-03-16 00:08] ycyaoxdu commented on #133
added command `clusteradm delete clusterset` #154

[2022-03-18 02:07] ycyaoxdu opened #159 "bug: delete work cannot finish executing"
Ran `clusteradm delete work addon-work-manager-deploy  --cluster itdove2-4-10` and it never finished, maybe because the cluster is already removed.

[code]

When the cluster is "available" it works.
reported by @itdove

[2022-03-18 02:07] ycyaoxdu commented on #159
/assign @ycyaoxdu

[2022-03-18 06:28] ycyaoxdu opened #162 "bug: command create work cannot create correct manifest work"
deploy in managedcluster create failed while i create a work using clusteradm
[code]

[2022-03-18 06:28] ycyaoxdu commented on #162
/assign @ycyaoxdu

[2022-03-20 18:01] ilan-pinto opened #163 "feat: clusteradm get placements"

[2022-03-21 01:49] qiujian16 commented on #162
we might need to better document here. The manifest is not to be `ManifestWork`, but a manifest files containing legacy kube resources.

[2022-03-21 02:41] ycyaoxdu commented on #162
the spec should be:
[code]

but while we use clusteradm to create, it would be:
[code]

we put the whole work.yaml into the manifest filed, rather than just the `manifest` filed in the work.yaml

---

Also, we've already set the cluster and name for the manifestwork in the work.yaml, but we did that in clusteradm again. Seems that the cluster and name set in work.yaml will not be used.

[2022-03-21 09:35] jichenjc opened #166 "update placement CRD in clusteradm"
seeing this error , first line is before download [this yaml file](https://github.com/open-cluster-management-io/multicloud-operators-subscription/blob/main/hack/test/placementdecisions.crd.yaml) and apply in the hub cluster ; 2nd line is the output that after the apply above file

not sure this is covered in other issues already

[code]

[2022-03-21 16:17] mgold1234 commented on #84
/assign mgold1234

[2022-03-22 07:21] jichenjc opened #169 "clusteradm unjoin works or not ?"
try to unjoin a cluster but seems doesn't work?

[code]

[2022-03-22 08:45] #162 closed

[2022-03-24 00:34] #159 closed

[2022-03-24 01:57] ycyaoxdu commented on #169
have you switch(or set) the context to `cluster2` ?

[2022-03-25 07:58] jichenjc commented on #169
yes, I tried both ..

[code]

[2022-03-25 08:43] jichenjc commented on #169
seems stuck here for long time...
[code]

[2022-03-25 08:47] ycyaoxdu commented on #169
The command works for me:
[code]
---
BTW, are you using the a version downded from release page of clusteradm?
Actually we've fixed a bug like this recently. See #130

And this change will be applied to release v0.1.2 which will come soon. For now, you may need to clone the code and build from source code( run `make install`) to get this fix.
@jichenjc

[2022-03-25 09:04] jichenjc commented on #169
yes, I tried latest code and it works for me now , thanks for the info~

[2022-03-25 09:04] #169 closed

[2022-03-25 09:23] jichenjc opened #177 "clusteradm unjoin --dry-run delete real resources.."
from ` Other resources have been deleted.`, we know some resource are deleted (see the code)
[code]

[2022-03-28 02:09] #177 closed

[2022-03-28 08:03] jichenjc opened #181 "validate clusterset exist before further actions"
[code]

expect to report something like
[code]

[2022-03-28 08:03] jichenjc commented on #181
/assign

[2022-03-28 08:04] jichenjc commented on #181
looks like latest version already fixed this

[2022-03-28 08:04] #181 closed

[2022-03-28 08:29] jichenjc opened #183 "enhancement: update the output format of `clusterset set `"
if the cluster cluster1 not in any clusterset, the output is a little bit confusing

[code]

[2022-03-28 08:29] jichenjc commented on #183
/assign

[2022-03-28 08:33] jichenjc opened #185 "move from `create clusterset` to `clusterset create`?"
already have
[code]

[2022-03-28 11:54] ilan-pinto commented on #52
/close

[2022-03-28 11:54] #52 closed

[2022-03-28 11:56] ilan-pinto commented on #121
fixed
/close

[2022-03-28 11:56] #121 closed

[2022-03-28 11:57] ilan-pinto commented on #166
/assign mgold

[2022-03-28 14:32] mgold1234 commented on #84
fixed
/close

[2022-03-28 14:58] mgold1234 commented on #84
fixed
/close

[2022-03-28 14:58] #84 closed

[2022-03-28 19:35] itdove opened #186 "Allow "cm install hub-addon" to work in for a different ns than open-cluster-management"
As ManagedClsuterAddon are also supported on ACM/MCE and these can be or are installed in other NS than open-cluster-management, it would be nice that the `cm-install hub-addon` works also on other namespace than open-cluster-management.

`cm install hub-addon --names xxx --server-namespace yyyy`

This will allow an integration of the `cm install hub-addon` cmd in the cm-cli for ACM/MCE

[2022-03-29 01:44] ycyaoxdu commented on #185
Thanks for your advice!
But, for now, we use `<common-usage>  <resource-type>` to extract and gather the common commands, such as `create`, `get`, `delete`...
And `<resource-type>  <unique-usage>` for unique commands.

[2022-03-29 04:32] ycyaoxdu commented on #183
Thank you for attentiveness.

And please try to use `--bundle-version=latest` flag while run `clusteradm init` to specify the newest version of registration image. Then you will find out that we've introduced a new concept 'default clusterset' which will automatically include all clusters that in no clusterset. So there will be no cluster not in any clusterset.

Of cource, we may need to do this e

[2022-03-29 06:23] jichenjc commented on #183
ok, will close this one and try the method you provided, thanks :)

[2022-03-29 06:23] #183 closed

[2022-03-29 06:44] jichenjc commented on #183
@ycyaoxdu I tried the way you provided

with latest code `c65757fb6f3dba` commit, I compiled clusteradm and

with this ,it works well
clusteradm init --wait --context ${CTX_HUB_CLUSTER}

but with following, the clusteradm keep stucking at ` Waiting for cluster manager registration to become ready...` for 5+ min and I Think something wrong there ..

clusteradm init --wait --context ${CTX_HUB_CLUSTE

[2022-03-29 07:02] ycyaoxdu commented on #183
could i get more information about this?

could i get more information about this? thanks!

[2022-03-29 07:11] jichenjc commented on #183
yes, I am adding more debug logs on this now .. not sure it's my env problem or not

[2022-03-29 07:38] jichenjc commented on #183
I tried again and this time it works well , not sure what happened just now ..

so I would say it's a false alarm and sorry about that :(

[2022-03-29 07:46] ycyaoxdu commented on #183
Never mind！btw, thanks for your time

[2022-03-31 10:15] mgold1234 opened #190 "need to apply files during e2e test"
I want to add test that check the manaul bootstrap token, and for that I want to use the applier,
before need to implement the KubectlFactory here:
type TestE2eConfig struct {
	values     *values
	clusteradm *clusteradm

	ClearEnv func()
}

[2022-03-31 11:00] ycyaoxdu commented on #190
/assign @mgold1234

[2022-04-06 03:08] jichenjc commented on #185
ok, will keep an eye on this :)

[2022-04-07 07:57] jichenjc opened #196 "Delete a work output is not clear"
# ./clusteradm delete work work1-34 --cluster cluster1
work work1-34 is already deleted

==> I never create work1-34 before .. so should be clear about the return output

[2022-04-07 08:15] jichenjc opened #198 "should preventing delete default clusterset"
we should preventing delete default clusterset
as following, allow delete then operator is able to re-create it but seems allow delete default doesn't make sense

[code]

[2022-04-07 08:20] jichenjc commented on #198
but not sure it's reasonable to prevent such action, so open issue to get some opinion first..

[2022-04-07 08:35] ycyaoxdu commented on #198
we will recreate default clusterset after deleted.

[2022-04-08 14:35] mgold1234 opened #201 "need to create test that check manual bootstrap token"

[2022-04-11 07:42] mgold1234 commented on #201
fixed
/close

[2022-04-11 07:42] #201 closed

[2022-04-11 07:42] mgold1234 commented on #190
fixed
/close

[2022-04-11 07:42] #190 closed

[2022-04-11 13:30] mgold1234 commented on #166
@jichenjc, I  apply this CustomResourceDefinition -➜  kubectl apply -f custom --context=${CTX_HUB_CLUSTER} -n open-cluster-management
customresourcedefinition.apiextensions.k8s.io/placementdecisions.cluster.open-cluster-management.io created
and didn't get this error.
can you please add more details, which version the end-user installed?
it seems that this eror appear with v1beta1.
I looked here-h

[2022-04-11 14:48] itdove commented on #122
Correct, there is no strong reason to make some methods/variable public.

I would suggest to make public:
1. The Option struct and all variables in that sturct.
2. The NewOption method
3. The Validate and Run method.
I don't think the newCmd nor the complete should be make public as they are tight to the cobra framework.
Also maybe some tests done in the cobra PreRunE could be moved to the validat

[2022-04-11 15:25] mgold1234 commented on #122
/assign mgold1234

[2022-04-12 06:15] jichenjc commented on #166
um.. I think it's fixed in latest version (0.7?)

at least 0.6 seems have this problem

[2022-04-12 08:44] mgold1234 opened #205 "add the ability to see version of ocm"
now we can see the version only if we go to deployment from hub cluster.
it will be usefull to see version outside.
maybe in clusteradm version :
client		version	:v0.1.1
server release	version	:v1.19.7
clusteradm version:

[2022-04-15 02:37] yue9944882 opened #208 "Flakiness observed: test/e2e/clusteradm/joinhubscenario_bootstrsptoken_test.go:39"
[code]

[2022-04-15 07:55] jichenjc commented on #166
I still get this error @mgold1234 ..

the reason my `guess` is the CRD is not created during the cluster init stage
I am fully follow https://open-cluster-management.io/getting-started/integration/app-lifecycle/
and tried twice got same error

techinically I guess placement is pre-requirement for this but seems we didn't install it automatically or doc talk about it

and yes, following works as I

[2022-04-15 08:02] jichenjc commented on #166
looks somewhere else ask for
kubectl apply -f https://raw.githubusercontent.com/open-cluster-management-io/multicloud-operators-subscription/main/deploy/hub-common/apps.open-cluster-management.io_placementrules_crd.yaml

in https://open-cluster-management.io/getting-started/integration/policy-framework/

but didn't see explict ask for placementdecisions ...

[2022-04-18 01:31] jichenjc opened #210 "clusteradm created policy propagator always fail to start"
follow https://open-cluster-management.io/getting-started/integration/policy-framework/

and after all set(through clusteradm way, not with source code way), found the pod failed to start (see 533 restart)
[code]

the log indicate such error
[code]

so delete the CRD from clusteradm then recreate from source code (which is , v1 to v1beta1 )
[code]

and now the pod success to start

so the question

[2022-04-19 07:07] jichenjc commented on #205
which version are we plan to show? the bundle version? e.g 0.7.0?

[2022-04-19 16:32] yue9944882 commented on #205
i think we need to clarify the relationship between the overall bundle version and per-component version, note that each component may have its independent patch release. e.g. we cant expect every component (work, registration) under 0.7.1 bundle version to be at 0.7.1. otherwise it's hard for clusteradm users to understand what does the returned bundle version actually mean from `clusteradm versi

[2022-04-20 00:18] jichenjc commented on #205
I propose to make the `default`  https://github.com/open-cluster-management-io/clusteradm/blob/main/pkg/helpers/version/version.go#L55 as a variable so that we can show this version in the output e.g

clusteradm bundle default version: 0.7.0

and

clusteradm bundle supported version: 0.5, 0.6,0.7

any comments?

[2022-04-20 02:41] ycyaoxdu commented on #208
@yue9944882  hello.
I've tried and found that after execute `clusteradm unjoin` , `clusteradm clean` , but the approved csr still exists.
following is the output:
[code]

---

btw, are you working on this?

[2022-04-20 02:58] ycyaoxdu opened #214 "bug: join command should not create csr repeatedly"
While using `clusteradm join ...` command to signing a cluster to hub, the command can be execute as many times as you want, causing many `csr` be created in hub.
[code]
I think we should prevent creating a `csr` every time we executing `clusteradm join ...`. Instead, we just create csr first time we call `clusteradm join ...` for specified cluster.

[2022-04-20 03:00] ycyaoxdu commented on #208
btw, are you working on this?

[2022-04-20 03:06] ycyaoxdu commented on #208
I'm still working on make sure this is the real reason causing the failure.
If it is, we may claim this issue as a bug? because the approved csr is should be deleted after managedcluster is unjoined.

[2022-04-20 03:14] #196 closed

[2022-04-20 05:06] yue9944882 commented on #214
/kind bug

[2022-04-21 01:51] jichenjc commented on #205
https://github.com/open-cluster-management-io/clusteradm/pull/215

[2022-04-25 09:42] ycyaoxdu commented on #214
I unjoined mcl1, delete the mcl resource and csr resource in hub.
and re-join mcl1, then i can create many csr:
[code]
It will be unknown.

[2022-04-25 09:46] ycyaoxdu commented on #214
i tried unjoin mcl1, clean hub, delete csr(clean command will not delete the csr for now),
then re-init hub, re-join mcl1 several times, no duplicate csr created.

[2022-04-27 12:44] ilan-pinto commented on #205
i think this issue be closed

[2022-05-01 13:09] mgold1234 commented on #205
/close

[2022-05-01 13:09] #205 closed

[2022-05-06 05:02] yue9944882 commented on #214
@ycyaoxdu i suppose the duplicated CSRs are created due to restarting of the registartion-agent. the agent will generate and work upon a random identity e.g. <cluster name>-<random suffix> every time it restarts, which results in additional CSRs.

[2022-05-12 21:16] dhaiducek opened #228 "`init` doesn't work on Kubernetes `v1.24`"
Secrets somehow change on Kubernetes `v1.24`. When I deployed it with Kind `v0.13`, Secrets weren't created when a ServiceAccount was created. For `clusteradm init`, that meant it failed to initialize with this error:
[code]

[2022-05-12 21:39] mikeshng commented on #228
As tested by Dale, the workaround for now is to use
[code]
for `KinD` clusters.

I think we might have to update the OCM io website while we investigate what the real issue is.

[2022-05-13 02:40] xauthulei commented on #214
I am thinking how to fix this:

1. Do the checking if there is the agent `klusterlet` in the joining cluster
2. Add the clean CSRs action when clean and unjion

Any suggestions? @ycyaoxdu and @yue9944882

[2022-05-23 19:12] dhaiducek commented on #228
Found it:

Reference: https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG/CHANGELOG-1.24.md#urgent-upgrade-notes

[2022-05-26 15:17] qiujian16 commented on #198
forbid deletion is reasonable.

[2022-05-30 00:45] jichenjc commented on #210
looks like the PR merged and I am able to start correctly, so close this

[2022-05-30 00:45] #210 closed

[2022-05-30 03:47] chaunceyjiang opened #234 "clusteradm init error"
![image](https://user-images.githubusercontent.com/17962021/170913666-dc009f87-506b-4e97-b8f2-93d655fbb52f.png)

[2022-05-31 03:17] jichenjc opened #235 "Add v1 into CRD of cluster-info"
[code]

[2022-05-31 03:19] jichenjc opened #236 "clusteradm get klusterlet-info report (3/3) <none>"
[code]

[2022-05-31 03:19] jichenjc commented on #236
/assign

[2022-06-01 02:34] #198 closed

[2022-06-07 10:16] #236 closed

[2022-06-07 10:16] jichenjc commented on #236
code merged

[2022-06-07 10:16] jichenjc opened #238 "dry run not honored"
[code]

[2022-06-08 07:03] jichenjc opened #240 "should report error during disable when there is no such addon"
[code]

[2022-07-18 03:50] ycyaoxdu opened #251 "bug: command `clusteradm init` failed"
When I want to initialize a kubernetes cluster of version `v1.24.0` as hub, this error occurs:
[code]
---
and command `clusteradm init` works for kubernetes version `v1.23.6`.

[2022-07-18 03:52] ycyaoxdu commented on #251
Maybe caused by [this](https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG/CHANGELOG-1.24.md?plain=1#L643) change.

[2022-07-18 03:52] ycyaoxdu commented on #251
/kind bug

[2022-07-21 13:46] dhaiducek commented on #228
Duplicate of #252

[2022-07-21 13:46] #228 closed

[2022-07-25 01:41] #240 closed

[2022-08-01 11:49] IlonaShishov commented on #238
Added a fix to the `create` cmd as well in which the dry-run flag was also not honored

[2022-08-04 09:30] yanmxa opened #255 "Failed to install application component with clusteradm client v0.3.0"
When I install the application management component in the OCM environment according to the [Application lifecycle management document](https://open-cluster-management.io/getting-started/integration/app-lifecycle/#install-via-clusteradm-cli-tool). I executed the following commands with the latest clusteradm client version - v0.3.0.
[code]
After executing these commands, the application-related CRD

[2022-08-15 02:18] jichenjc opened #259 "`clusteradm addon disable ` not honored?"
[code]

seems the disabled addon will auto heal after a while? is it expected?

[2022-08-15 02:31] jichenjc opened #260 "miss version of clustermanagers.operator.open-cluster-management.io"
[code]

[2022-08-15 03:20] #238 closed

[2022-08-16 03:24] jichenjc opened #261 "issue: namespace not exist should report error"
[code]

[2022-08-18 02:39] qiujian16 commented on #259
this is because managed-serviceaccount is using a deployAll strategy, the addon manager will recreate the addon.

[2022-08-18 03:31] jichenjc commented on #259
thanks for the info

[2022-08-18 03:31] #259 closed

[2022-08-22 14:16] #251 closed

[2022-08-23 22:28] #108 closed

[2022-08-26 12:55] o-farag commented on #234
I had the same issue. @dhaiducek recommended I add the `--use-bootstrap-token` flag e.g.
[code]
even though we meet the prerequisites outlined [here](https://open-cluster-management.io/getting-started/quick-start/#prerequisites). I believe it might have something to do with a mismatch in minor versions of client/server but I'm not sure.

Regardless, adding that flag worked for me.

[2022-08-30 09:00] elgnay opened #267 "Enhance the clusteradm to support installing klusterlet in the hosed mode"
When joining as cluster to a hub, user is able to set the install mode of the klusterlet to `Hosted` with command similar to
`clusteradm join  …. --mode hosted --managed-cluster-kubeconfig kubeconfig`

[2022-09-14 13:32] mikeshng opened #269 "clusteradm accept command error message is confusing"
A user ran the clusteradm accept command, and got the following error message:
[code]
This error message is confusing because the CSR seems to be approve successfully but then it errors with no CSR to approve.

I did some initial triage and the actual failure might be related to the ManagedCluster CR spec.hubAcceptsClient update failed and when it returned the error up the stack, the error message

[2022-09-15 04:22] qiujian16 commented on #255
/assign @mikeshng

[2022-09-15 15:46] mikeshng commented on #255
I can't reproduce it on my environment.
[code]
Could you run and check the following on the hub cluster?
[code]

[code]
[code]
I am guessing the addon deployment failed.

[2022-09-15 20:20] ekarlso commented on #269
I think this is a false positive, can be closed

[2022-09-15 20:30] mikeshng commented on #269
Closing as the original reporter recommended.

[2022-09-15 20:30] #269 closed

[2022-09-23 06:39] qiujian16 commented on #82
/close

[2022-09-23 06:39] #82 closed

[2022-09-29 07:28] ycyaoxdu commented on #261
@jichenjc seems this issue is already resolved? maybe you could close it, thanks :)

[2022-09-29 07:30] ycyaoxdu commented on #185
@jichenjc hi, is there still any problem you're worrying about? if not, maybe you can close this issue:)

[2022-09-29 07:31] jichenjc commented on #261
yes, I forgot to update :)

[2022-09-29 07:31] #261 closed

[2022-09-29 07:31] jichenjc commented on #185
no, this is just a question, not an issue :)

[2022-09-29 07:31] #185 closed

[2022-09-29 07:32] ycyaoxdu commented on #122
@prometherion maybe you can close this issue now? thanks :)

[2022-09-29 07:33] ycyaoxdu commented on #53
@ckkkcsg hi, could you please show more information?

[2022-09-29 07:35] ycyaoxdu commented on #57
@itdove hi, is this issue solved? maybe you can close it. thanks:)

[2022-09-29 07:40] qiujian16 commented on #122
/close

[2022-09-29 07:40] #122 closed

[2022-09-29 08:43] ycyaoxdu commented on #235
/assign @ycyaoxdu

[2022-09-29 08:44] ycyaoxdu commented on #260
/assign @ycyaoxdu

[2022-09-30 03:08] ycyaoxdu commented on #235
@jichenjc  solved. please checkout and close this issue, thanks!

[2022-09-30 03:08] ycyaoxdu commented on #260
@jichenjc  solved. please checkout and close this issue, thanks!

[2022-09-30 03:09] #260 closed

[2022-09-30 03:10] #235 closed

[2022-09-30 06:48] haoqing0110 commented on #166
We had Placement and PlacementDecision API upgrade to v1beta1 version since v0.7.0, refer to the API change log https://github.com/open-cluster-management-io/api/blob/main/CHANGELOG/CHANGELOG-v0.7.md.

placementrule is another CRD, doesn't require placementdecisions

[2022-10-06 13:42] yanmxa commented on #255
Thank you very much, @mikeshng!

I checked and found that the application-manager addon in my environment did not install successfully.

[2022-10-06 13:42] #255 closed

[2022-10-06 20:16] mikeshng opened #273 "Klusterlet registration pod crashlooping during clusteradm join for Oracle Kubernetes Engine cluster"
When a user try to get a manage cluster to join, the klusterlet-registration-agent goes into CrashLoopBackOff for an Oracle Kubernetes Engine cluster.

When looking at the logs:
[code]
It seems like the error might be related to the usage of the code here
https://github.com/openshift/cluster-etcd-operator/blob/release-4.13/vendor/github.com/openshift/library-go/pkg/operator/events/recorder.go#L52-

[2022-10-06 20:24] mikeshng opened #274 "Klusterlet CR generated from clusteradm join command contains invalid externalServerURLs for Oracle Kubernetes Engine cluster"
In an Oracle Kubernetes Engine cluster, the cluster-info config map:
[code]
contains
[code]
this might have cause the clusteradm to generate a Klusterlet CR with the spec of
[code]

This fails the spoke agent validation in https://github.com/open-cluster-management-io/registration/blob/release-0.8/pkg/spoke/spokeagent.go#L435-L442
causing the managed cluster not to proceed with the registration pr

[2022-10-08 03:03] ycyaoxdu commented on #166
@jichenjc cc

[2022-10-08 03:07] jichenjc commented on #166
thanks~!

[2022-10-08 03:07] #166 closed

[2022-10-08 03:39] ycyaoxdu commented on #234
@chaunceyjiang @o-farag is this happens always or randomly? i'm trying to reproduce this and need more information. thanks a lot!

[2022-10-08 04:32] ycyaoxdu commented on #186
/assign @ycyaoxdu

[2022-10-10 02:37] ycyaoxdu commented on #186
/close

[2022-10-10 02:38] #186 closed

[2022-10-10 02:39] qiujian16 commented on #273
it will not cause the crashloopback. if the pod name can not be found, namespace based event will be used.

[2022-10-10 10:22] hyder commented on #273
Hi @qiujian16

The crashloopback is actually happening and is only resolved when I add the RBAC recommended by @mikeshng.

[2022-10-11 00:17] mikeshng commented on #273
@hyder if it's not too difficult to reproduce the issue, could you please recreate it and paste the log in here?

The error might not be coming from that library and somewhere else. I forgot how I found that library in the first place.

[2022-10-11 02:45] hyder commented on #273
@mikeshng sure, I'll do that tomorrow.

[2022-10-12 03:07] ycyaoxdu commented on #47
/close

[2022-10-12 03:07] #47 closed

[2022-10-12 03:39] ycyaoxdu commented on #57
seems this issue is solved
/close

[2022-10-12 03:39] #57 closed

[2022-10-14 01:25] qiujian16 commented on #8
/close

[2022-10-14 06:32] ycyaoxdu commented on #214
seems we cannot do clean csr in `unjoin`, we do `unjoin` under managed cluster context , not hub context.

[2022-10-14 06:38] ycyaoxdu commented on #214
Agree with @yue9944882

I think the problem is: after `unjoin` we just removed resources on **managed cluster**, resources **on hub but related to managed cluster** are not removed. The old CSR still exists until next time we using the same managed cluster name to join, in the meanwhile, a new csr created by the new klusterlet.

[2022-10-14 06:48] ycyaoxdu opened #277 "should remove resources after managed cluster unjoined"
The `unjoin` command just remove the resources in managed cluster, and we did nothing to the other related resources created in hub cluster, like `csr`, `managed cluster`.
Maybe we should do something to these resources?

[2022-10-14 07:15] xuchenSingle opened #278 "unknown flag: --names,unknown flag: --clusters"
[root@bastion ~]# clusteradm addon disable --names application-manager --clusters cluster1,cluster2
Error: unknown flag: --names
[root@bastion ~]# clusteradm addon disable --name application-manager --clusters cluster1,cluster2
Error: unknown flag: --clusters
[root@bastion ~]# clusteradm addon disable --name application-manager --cluster cluster1,cluster2
Undeploying application-manager add-on in

[2022-10-14 10:58] hyder commented on #274
Hi,

Sorry for the delay.

Please find troubleshooting steps for this issue:

[code]

After editing url and prepending `https://`, a new pod is created:

[code]

Accept the join request:

[code]

[2022-10-14 15:39] ycyaoxdu commented on #278
Hi @xuchenSingle , could you please provide more information? such as how did you get this error? or what version of clusteradm are you using? :)

[2022-10-24 05:55] ycyaoxdu commented on #214
#277 coverd this issue, close this one.
/close

[2022-10-24 05:55] #214 closed

[2022-10-24 08:31] ycyaoxdu opened #284 "e2e test always fails"
unjoin command cannot remove klusterlet in time. It happened several times.
https://github.com/open-cluster-management-io/clusteradm/actions/runs/3295327891/jobs/5433762650#step:4:302
https://github.com/open-cluster-management-io/clusteradm/actions/runs/3288421298/jobs/5418736045#step:4:350
https://github.com/open-cluster-management-io/clusteradm/actions/runs/3287654105/jobs/5417060052#step:4:242

[2022-10-24 08:31] ycyaoxdu commented on #284
/kind bug

[2022-10-24 08:32] ycyaoxdu commented on #284
maybe we can collect e2e fails under this issue...

[2022-10-24 08:35] ycyaoxdu commented on #284
another one :
https://github.com/open-cluster-management-io/clusteradm/actions/runs/3311116847/jobs/5466167087#step:4:121

[2022-10-24 08:47] ycyaoxdu commented on #284
FIXED : [Error: no matches for kind "Klusterlet" in version "operator.open-cluster-management.io/v1"](https://github.com/open-cluster-management-io/clusteradm/actions/runs/3213210843/jobs/5252715812#step:4:245)
#276

[2022-10-24 08:51] ycyaoxdu commented on #284
[panic: test timed out after 30m0s](https://github.com/open-cluster-management-io/clusteradm/actions/runs/2916250680/jobs/4708292835#step:4:230)
maybe we can set [time out period](https://github.com/open-cluster-management-io/clusteradm/blob/main/test/e2e/e2e-test.mk#L27) longer to avoid this

[2022-10-24 08:53] ycyaoxdu commented on #284
[Error: fail to update hubAccpetClient field for cluster clusteradm-e2e-test-c1: managedclusters.cluster.open-cluster-management.io "clusteradm-e2e-test-c1" not found](https://github.com/open-cluster-management-io/clusteradm/actions/runs/3099260243/jobs/5018187935#step:4:149)

[2022-10-24 08:55] ycyaoxdu commented on #284
[Error: timed out waiting for the condition](https://github.com/open-cluster-management-io/clusteradm/actions/runs/2908537312/jobs/4630797247#step:4:776)

[2022-10-24 08:58] ycyaoxdu commented on #284
[Error: "join/bootstrap_hub_kubeconfig.yaml" (string): secrets "bootstrap-hub-kubeconfig" is forbidden: unable to create new content in namespace open-cluster-management-agent because it is being terminated](https://github.com/open-cluster-management-io/clusteradm/actions/runs/2901520712/jobs/4616081146#step:4:264)

[2022-10-24 09:01] ycyaoxdu commented on #284
[2022/08/22 02:32:35 Cluster Manager resource should be deleted firstly.](https://github.com/open-cluster-management-io/clusteradm/actions/runs/2900860528/jobs/4614761396#step:4:334)

[2022-10-24 09:06] ycyaoxdu commented on #284
[Error: hub already initialized](https://github.com/open-cluster-management-io/clusteradm/actions/runs/2901405689/jobs/4615857158#step:4:137)

causing [Error: token is missing](https://github.com/open-cluster-management-io/clusteradm/actions/runs/2901405689/jobs/4615857158#step:4:139)

[2022-10-24 09:15] ycyaoxdu commented on #284
[2022/08/17 07:01:34 the server could not find the requested resource (get appliedmanifestworks.work.open-cluster-management.io)](https://github.com/open-cluster-management-io/clusteradm/actions/runs/2873343592/jobs/4560751098#step:4:179)

[2022/08/15 01:54:59 Other resources have been deleted.](https://github.com/open-cluster-management-io/clusteradm/actions/runs/2769038195/jobs/4474168048#step:4

[2022-11-07 20:05] nirs commented on #56
If the csr was already approved, why not succeed with message like:

   CSR c2-mq8rj already unchanged

[2022-11-08 00:09] qiujian16 commented on #56
the old csr may not work if the agent is restarted. It will try to create a new csr.

[2022-11-13 14:50] nirs opened #287 "Machine readable output (init, get token)"
This will be nice for all commands, but is required for "clusteradm init" and "clusteradm get token".

## Issues with current text based otuput

The current format is useful for human but bad for program running clusteradm. The program can:

- Get only the token, find the apiserver url manually

  - Split the first line of the output, assuming that this will not change (bad), and split the token=x

[2022-11-14 13:43] qiujian16 commented on #287
/assign @ycyaoxdu

[2022-11-24 23:26] hyder commented on #274
Hi, any update on this?

[2022-11-25 00:08] mikeshng commented on #274
@qiujian16 not sure if this issue should just be doc with something like this:

For Oracle Kubernetes Engine cluster, first ensure that the `cluster-info` ConfigMap in `kube-public` namespace to contains `server: https://`. If the `https://` portion is missing, update the ConfigMap prior to running the `clusteradm init` command.

[2022-11-25 02:00] qiujian16 commented on #274
I think we need a preflight check, we check the info at first, if there is none, we might prompt a warning or let user to input the url.

[2022-11-25 02:08] qiujian16 commented on #274
cc @ycyaoxdu

[2022-11-25 04:49] ycyaoxdu commented on #274
/assign @ycyaoxdu

[2022-11-30 09:46] ycyaoxdu commented on #287
/close

[2022-11-30 09:46] #287 closed